.hero {
    height: calc(100vh - 100px);
    background: linear-gradient(rgba(8,0,58,0.2),rgba(8,0,58,0.6)), url('../../assets/hero.png');
    background-size: cover;
    background-position: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: white;

    .text-section {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 0px 80px;
    }

    a {
        display: flex;
        background-color: white;
        color: black;
        align-items: center;
        padding: 15px;
        border-radius: 30px;
        gap: 2px;
        border: none;
        cursor: pointer;
    }

}