@import '../../responsive.scss';
@import '../../color.scss';
.layout {
    margin: 0px 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    @include sm {
        margin: 0;
    }

    .contents {
        background-color: $white-bg;
    }
    
}