@import '../../responsive.scss';
@import '../../color.scss';

nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary;
    color: white;
    z-index: 999;

    .left {
        flex: 1;
        margin-left: 10px;
        font-weight: bold;
        font-size: 24px;

        @include md {
            font-size: 20px;
        }

        @include sm {
            flex: none;
            font-size: 16px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            transition: all 0.4s ease;

            &:hover {
                transform: scale(1.05); // Changed from 'scale' to 'transform'
            }

            img {
                width: 40px;
                height: 40px;
                background-color: white;
                border-radius: 50%;

                @include sm {
                    width: 38px;
                    height: 38px;
                }
            }
        }
    }

    .right {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;

        .desktop-view {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            font-size: 18px;

            @include md {
                gap: 20px;
                font-size: 16px;
            }

            @include sm {
                display: none;
            }

            a {
                transition: all 0.4s ease;

                &:hover {
                    transform: scale(1.05); 
                }
            }

            button {
                padding: 10px;
                border-radius: 30px;
                border: none;
                transition: all 0.4s ease;
                cursor: pointer;
                background-color: white;
                font-size: 18px;

                @include md {
                    font-size: 16px;
                    padding: 10px;
                }
            }

            button:hover {
                transform: scale(1.05);
            }
        }

        .menu-icon {
            display: none;
            z-index: 9999;
            img {
                width: 36px;
                height: 36px;
                cursor: pointer;
            }

            @include sm {
                display: inline;
            }
        }

        .menu {
            position: absolute;
            top: 0;
            right: -50%;
            width: 50%;
            height: 100%;
            background-color: $primary; 
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            z-index: 999;

            &.active {
                right: 0;
            }
            .links {
                display: flex;
                flex-direction: column;
                gap: 50px;
                margin-bottom: 50px;

                a {
                    transition: all 0.4s ease;
    
                    &:hover {
                        transform: scale(1.05); 
                    }
                } 
            }

            button {
                padding: 10px;
                font-size: 16px;
                border-radius: 30px;
            }
            
        }
    }
}
